<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hybrid.mapper.CityMapper">
	<select id="selectAll" resultType="com.hybrid.model.City">
	    select id,
	  		   name,
	  		   countrycode,
	   		   district,
	  		   population
  		  from city
	</select>    
	
	<select id="selectByCountryCode" parameterType="String" resultType="com.hybrid.model.City">
	    select id,
			   name,
			   countrycode,
			   district,
			   population
		  from city
		 where countrycode = #{counrtycode}
	</select>
	
		
</mapper>
