<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hybrid.mapper.CityMapper">
    <select id="selectCount" resultType="int">
        select count(*) from city
    </select>
    <select id="selectAll" resultType="com.hybrid.model.City">
        select id,
			   name,
			   countrycode,
			   district,
			   population
		  from city
    </select>
    <select id="selectPage" 
        	parameterType="com.hybrid.util.Pagination" 
        	resultType="com.hybrid.model.City"
        	databaseId="mysql">
        select id,
			   name,
			   countrycode,
			   district,
			   population
		  from city
		 order by id desc
		 limit #{start}, #{length} 
    </select>
   
    <select id="selectPage" 
        	parameterType="com.hybrid.util.Pagination" 
        	resultType="com.hybrid.model.City"
        	databaseId="oracle">
        select outer.*
		  from ( select rownum r, inner.*
		  		   from ( select *
		  		   			from city 
		  		   		   order by id desc
		  		        ) inner
		  	   ) outer
		 where outer.r &gt;= #{firstItem}
		   and outer.r &lt;= #{lastItem}
    </select>
    
    
    <select id="selectByCountryCode" parameterType="string" resultType="com.hybrid.model.City">
        select id,
			   name,
			   countrycode,
			   district,
			   population
		  from city
		 where countrycode = #{countryCode}
    </select>
   
    <insert id="insert" 
        	parameterType="com.hybrid.model.City"
        	useGeneratedKeys="true"
        	keyProperty="id"
        	databaseId="mysql">
        
        insert into city
		(
			name, 
			countrycode, 
			district, 
			population
		)
		values
		(
			#{name, 		jdbcType=VARCHAR},
			#{countryCode,  jdbcType=VARCHAR},
			#{district, 	jdbcType=VARCHAR},
			#{population, 	jdbcType=NUMERIC}
		)
    </insert>
    
    <insert id="insert" 
        	parameterType="com.hybrid.model.City"
        	databaseId="oracle">
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            select city_id_generator.nextVal from dual
        </selectKey>
        insert into city
		(
			id,
			name, 
			countrycode, 
			district, 
			population
		)
		values
		(
			#{id},
			#{name, jdbcType=VARCHAR},
			#{countryCode, jdbcType=VARCHAR},
			#{district, jdbcType=VARCHAR},
			#{population, jdbcType=NUMERIC}
		)
    </insert>
   
    <delete id="deleteAll">
        delete from city
    </delete>
    
    
    
    
</mapper>
