<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hybrid.mapper.CityMapper">
    
    <select id="selectCount" resultType="int">
        select count(*) from city
    </select>
	
	<select id="selectAll" resultType="com.hybrid.model.City">
	    select id,
	  		   name,
	  		   countrycode,
	   		   district,
	  		   population
  		  from city
	</select>    
	
	<select id="selectPage" resultType="com.hybrid.model.City" parameterType="com.hybrid.util.Pagination">
	    select id,
	  		   name,
	  		   countrycode,
	   		   district,
	  		   population
  		  from city
  		  order by countrycode asc, name asc
  		 limit #{start}, #{length} 
	</select>    
	
	<select id="selectByCountryCode" parameterType="String" resultType="com.hybrid.model.City">
	    select id,
			   name,
			   countrycode,
			   district,
			   population
		  from city
		 where countrycode = #{counrtycode}
	</select>
	
	<insert id="insert" parameterType="com.hybrid.model.City">
	    insert into city 
		(
			id,
			name,
			countryCode,
			district,
			population
		)
		values
		(
			#{id},
			#{name},
			#{countryCode},
			#{district},
			#{population}
		)
	</insert>
	
</mapper>
